.StartpageLink{
    text-align: center;
    font-size: 50px;
    line-height: 200%;
}

/*Link sizes*/
.MainLinks{
    font-size: 35px;
}

/*Distance between the links (kind of)*/
.NavigationSpace{
    padding-left: 10%;
}

#TextInterests { 
    position: absolute; visibility: visible; left: 50%; top: 37%; z-index: 200;
    font-size: 20px; color: magenta;
}

/*Unvisited link & Visited link*/
a:link, a:visited{
    color: yellow;
    text-decoration: none;
    text-align: center;
}

/*Mouse over link*/
a:hover, a:active{
    color: greenyellow;
    text-align: center;
}