.StartpageLink{
    text-align: center;
    font-size: 50px;
    line-height: 200%;
}

/*Link sizes*/
.MainLinks{
    font-size: 35px;
}
/*Distance between the links (kind of)*/
.NavigationSpace{
padding-left: 10%;
}

#TextAboutMe { 
    position: absolute; visibility: visible; left: 8%; top: 37%; z-index: 200;
    font-size: 20px; color: springgreen;
}

/*Unvisited link & Visited link*/
a:link, a:visited{
    color: goldenrod;
    text-decoration: none;
    text-align: center;
}

/*Mouse over link*/
a:hover, a:active{
    color: darkorange;
    text-align: center;
}